<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Flask</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
   <div class="container">
       <div class="row d-flex justify-content-center mt-5">
           <div class="col-md-6">
            <form method="post" action="http://127.0.0.1:5000/login">
              <div class="form-group">
                <input type="text" name="username" class="form-control" />
              </div>
              <div class="form-group">
                  <input type="password" name="password" class="form-control" />
              </div>
               <div class="form-group text-right">
                <input class="btn btn-primary m-1" type="submit" value="Login" name="submit" /> 
               </div>
            </form>
           </div>
       </div>
   </div>
</body>
</html>
